
.header {
    position: relative;
}
.headerObjects {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.header h1 {
    display: flex;
    align-content: flex-end;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    color: #fff59c;
}

.header img {
    width: 20%;
    height: auto;
    margin: 10px;
}
.filters {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 30px;
    margin-top: -70px;
}
svg {
    /* shape-outside: polygon(292.56,705.151,732,1480.2,383.96,2563,17.694);
    transition: shape-outside 1s; */
    width: 100%;
    height: 100%;
    fill: #f48ebd;
}
.footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    margin-bottom: -80px;
}